* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  background-image: url(https://img1.wallspic.com/crops/8/9/0/4/14098/14098-desenfoque_gaussiano-2048x1152.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  color: black;
  text-align: center;
  font: 2em;
}
nav {
  background-color: black;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  flex: 1;
  text-align: center;
}
nav a {
  display: block;
  padding: 20px 0;
  color: white;
  text-decoration: none;
}
/*HOVER Y FOCUS AL NAV*/
main {
  padding: 20px;
  background-color: lightgray;
  color: black;
}
section {
  margin-bottom: 20px;
}
section h2 {
  text-align: center;
  margin: 20px;
}
section ul {
  display: flex;
  justify-content: space-around;
}
section li {
  margin: 0 10px;
  list-style-type: decimal;
}
/* SUSTITUIR EL PUNTO DE LA LISTA POR LA X */
section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}
/* AÑADIR CORCHETES A LOS ENLACES */
/* AÑADIR HOVER A LOS ENLACES */
/* AÑADIR FOCUS A LOS ENLACES */
footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
